@model OrderModel

@{
    ViewData["Title"] = "Подтверждение номера телефона";
}

<h4>Подтверждение номера телефона</h4>

<p>
    Введите <em>код подтверждения</em> из SMS.
</p>

<form action="@Url.Action(nameof(OrderController.ConfirmCellPhone))" method="post">
    <input type="hidden" name="cellPhone" value="@Model.CellPhone" />
    <div class="form-group">
        <label for="confirmationCode">Код потдверждения</label>
        <input type="text" class="form-control" name="confirmationCode" placeholder="0000"
                           style ="width: 200px;"/>
        @if (Model.Errors.ContainsKey("confirmationCode"))
        {
            <small class="form-text text-danger">@Model.Errors["confirmationCode"]</small>
        }
        @if (Model.Errors.ContainsKey("confirmationCode"))
        {
            <small class="form-text text-danger">@Model.Errors["confirmationCode"]</small>
        }
    </div>
    <button type="submit" class="btn btn-success">Проверить</button>
</form>

<p>
    Если на ваш номер SMS не пришла в течение минуты, проверьте правильность номера и
    повторите отправку кода.
</p>

<form action="@Url.Action("SendConfirmationCode")" method="post">
    <div class="form-group">
        <label for="cellPhone">Мобильный телефон</label>
        <hr width="50%" color="green" />
        <input type="text" class="form-control" name="cellPhone" value="@Model.CellPhone"
               style="width: 200px;" />
        @if (Model.Errors.ContainsKey("cellPhone"))
        {
            <small class="form-text text-danger">@Model.Errors["cellPhone"]</small>
        }
    </div>
    <button type="submit" class="btn btn-success">Отправить код повторно</button>
</form>
