@model ConfirmationModel

@{
    ViewData["Title"] = "Подтверждение номера телефона";
}

<h4>Подтверждение номера телефона</h4>

<form action="@Url.Action("Confirmate")" method="post">
    <input type="hidden" name="id" value="@Model.OrderId" />
    <input type="hidden" name="cellPhone" value="@Model.CellPhone" />
    <div class="form-group">
        <label for="code">Код подтверждения</label>
        <hr width="50%" color="green" />
        <input type="text" class="form-control" name="code" placeholder="0000"
               style="width: 200px;" />
        @if (Model.Errors.ContainsKey("code"))
        {
            <small class="form-text text-danger">@Model.Errors["code"]</small>
        }
    </div>
    <button type="submit" class="btn btn-success">Проверить</button>
</form>

<form action="@Url.Action("SendConfirmationCode")" method="post">
    <input type="hidden" name="id" value="@Model.OrderId" />
    <div class="form-group">
        <label for="cellPhone">Мобильный телефон</label>
        <hr width="50%" color="green" />
        <input type="text" class="form-control" name="cellPhone" value="@Model.CellPhone"
               style="width: 200px;" />
    </div>
    <button type="submit" class="btn btn-success">Отправить код повторно</button>
</form>
